<div class="row action-bar">
<div class="product-name" >
<h3>Line 0010: NaCl (Sodium Chloride)</h3>
</div>
    <div  class="btn-group" >
    <button mat-stroked-button color="primary">Accept</button>
    <button mat-stroked-button color="warn">Reject</button>
    <button mat-stroked-button color="accent">Change</button>
  </div>
  <div class="row">
     <mat-card>
         <mat-card-title>
             Quantity
         </mat-card-title>
     </mat-card>
     <mat-card>
        <mat-card-title>
            Arrival Date
            <mat-form-field>
                
            <mat-input placeholder="Expected Ship Date" required>

            </mat-input>
        
        </mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Price
        </mat-card-title>
    </mat-card>
  </div>
  <app-additional-details></app-additional-details>
    
  </div>