<mat-card class="cardrow-container mb-4">
    <mat-card-header>
        <mat-card-title>Expected Arrival Date</mat-card-title>
    </mat-card-header>
    <div class="row">
        <div class="col-sm mb-2">
            <mat-label>Requested</mat-label>
            <p>09/25/1998</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm mb-2">
            <mat-label>Confirm </mat-label>
            <p>09/25/1998</p>
        </div>
    </div>
    <div [formGroup]="myForm" class="row">
        <div class="col-2">
            <mat-form-field>
                <mat-label>Choose a date</mat-label>
                <input required matInput [matDatepicker]="datepicker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
                <mat-hint>Required</mat-hint>
                <mat-error *ngIf="myForm.controls.date.invalid && myForm.controls.date.touched">Date is Required</mat-error>

            </mat-form-field>
        </div>
    </div>
</mat-card>