<div class="confirmation-container">
    <app-header></app-header>
    <mat-card>
        <div class="row">
            <div class="col-3">
                <app-description></app-description>
            </div>

            <div class="col-3 p-3">
                <app-quantity></app-quantity>
            </div>
            <div class="col-3 p-3">
                <app-date></app-date>
            </div>
            <div class="col-3 p-3">
                <app-price></app-price>
            </div>
        </div>
        <app-additional-details></app-additional-details>
    </mat-card>
</div>