<mat-card class="mb-4">
    <mat-card-header>
    </mat-card-header>
    <div class="row">
        <div class="col-sm">
            <mat-label>Description:</mat-label>
            <p>Table Salt, 100KG</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-label>Ship To:</mat-label>
            <p>Amsterdam 1234 Tulip Lane LudwigShafen DE 12346</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <mat-label bold>Supplier Product ID: </mat-label>
            <p>12341723661</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-label>UPC Number:</mat-label>
            <p>234234234243</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <mat-label>Contract Number:</mat-label>
            <p>1234232326</p>
        </div>
    </div>
    <mat-form-field appearance="outline">
        <mat-label>Sales Order Number</mat-label>
        <input matInput placeholder="Sales Order Number">
    </mat-form-field>
</mat-card>