<mat-toolbar class="header">

        <section>
      <h6 md-colors="{color:'primary'}">Line 0010: NaCl (Sodium cHloride)</h6>
          <button mat-icon-button color="primary">
            <mat-icon>attachment</mat-icon>
          </button>
          <button mat-icon-button color="primary" aria-label="">
            <mat-icon>note</mat-icon>
          </button>
  
        </section>
  
    <div class="example-button-row" style="margin-left: auto">
        <button mat-raised-button color="primary" class="p-1"> + Add Schedule</button>

            <button mat-stroked-button color="primary" active class="p-1">Accept</button>
            <button mat-stroked-button color="accent" class="p-1">Reject</button>
            <button mat-stroked-button color="warn" class="p-1">Change</button>
    </div>
  
  </mat-toolbar>